body {
  cursor: default;
  margin: 0;
  padding: 0;
  background: rgba(255, 0, 89, 1);
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 0, 89, 1) 0%,
    rgba(0, 179, 255, 1) 33%,
    rgba(255, 0, 89, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 0, 89, 1) 0%,
    rgba(0, 179, 255, 1) 33%,
    rgba(255, 0, 89, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(255, 0, 89, 1) 0%,
    rgba(0, 179, 255, 1) 33%,
    rgba(255, 0, 89, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(255, 0, 89, 1) 0%,
    rgba(0, 179, 255, 1) 33%,
    rgba(255, 0, 89, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(255, 0, 89, 1) 0%,
    rgba(0, 179, 255, 1) 33%,
    rgba(255, 0, 89, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  background-size: 400% 400%;
  -webkit-animation: errorBg 15s linear infinite;
  -moz-animation: errorBg 15s linear infinite;
  animation: errorBg 15s linear infinite;
  font-family: "Nunito", sans-serif;
}

@-webkit-keyframes errorBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@-moz-keyframes errorBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@keyframes errorBg {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
.nav-bar {
  height: 40px;
}
.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  background-color: rgb(39, 39, 39);
  z-index: 1;
}
.nav-bar li {
  padding-right: 30px;
  line-height: 40px;
  font-weight: 200;
  font-size: 22px;
}

.nav-bar a {
  color: white;
}
.nav-bar a:hover {
  color: #f9265e;
}
.nav-bar li:last-child {
  padding-right: 60px;
}
.nav-bar li.threeline-icon {
  display: none;
}
.nav-bar li.threeline-icon:hover {
  color: #f9265e;
  cursor: pointer;
}
#subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 100%;
  width: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}
.capa {
  height: auto;
}
.inf-perfil span {
  font-size: 58px;
  color: black;
  display: block;
}
.frase {
  font-size: 58px;
  text-align: center;
  margin-top: 10vh;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 60px;
  color: white;
}
.frase:hover {
  text-shadow: 5px 6px black;
}
.inf {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.ft-perfil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.ft-perfil img {
  width: 350px;
  border-radius: 350px;
}
.inf-perfil {
  margin-left: 20px;
  vertical-align: top;
}
.inf-perfil h1 {
  font-size: 58px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 60px;
  color: white;
}
.inf-perfil h2 {
  font-size: 22px;
  font-style: italic;
  color: white;
  font-weight: 200;
}
.inf-perfil h1:hover {
  text-shadow: 4px 5px #f9265e;
}
.inf-perfil h2:hover {
  text-shadow: 2px 3px #f9265e;
}
.sobre {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: auto;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.sobre-info {
  flex: 2 300px;
  margin: 0 10px;
  text-align: justify;
}
.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.sobre-info h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: black;
}
.border-sub {
  width: 130px;
  border-bottom: 4px solid white;
}
.border-sub1 {
  width: 200px;
  border-bottom: 4px solid white;
}
.border-sub2 {
  width: 250px;
  border-bottom: 4px solid white;
}
.border-sub3 {
  width: 460px;
  border-bottom: 4px solid white;
}
.border-sub4 {
  width: 230px;
  border-bottom: 4px solid white;
}
.projetos {
  height: auto;
  max-width: 960px;
  margin: 30px auto;
  padding-bottom: 30px;
  padding-left: 10px;
  border-bottom: 2px solid black;
}
.projetos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
  text-align: center;
}
.projetos-container {
  display: flex;
  align-items: flex-end;
  margin-left: 2px;
  margin-right: 2px;
}
.projetos-item {
  margin: 30px;
}
.projetos-item:nth-child(2) {
  margin-left: 37px;
}
.projetos-item h2 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.projetos-item:nth-of-type(3n + 1) h2::before {
  background: #000000;
}
.projetos-item:nth-of-type(3n + 2) h2::before {
  background: #ffffff;
}
.projetos-item:nth-of-type(3n + 3) h2::before {
  background: #777777;
}
.projetos-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 25px;
  margin-right: 10px;
}
.projetos-item p {
  padding-top: 20px;
  color: #000000;
  text-align: justify;
}
.projetos-item a img {
  filter: grayscale(100%);
  height: 300px;
  width: 270px;
}
.imagem-produto:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  transform: scale(1.3);
  filter: grayscale(0);
}
.habilidade {
  max-width: 960px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
  height: auto;
  padding-bottom: 30px;
}
.habilidade-h1 {
  font-size: 3em;
  margin: 0px 10px 30px 10px;
  text-align: center;
}
.habilidade-item img {
  display: inline-flex;
  max-width: 40px;
  margin-left: 25px;
  align-items: center;
}
.habilidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}
.habilidade-item:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.habilidade-item h2 {
  display: flex;
  align-items: center;
  font-size: 2.25em;
  color: #ffffff;
  margin-bottom: 30px;
}
.habilidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.habilidade-item:nth-of-type(3n + 1) h2::before {
  background: #000000;
}
.habilidade-item:nth-of-type(3n + 2) h2::before {
  background: #ffffff;
}
.habilidade-item:nth-of-type(3n + 3) h2::before {
  background: #777777;
}
.habilidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #000000;
}
.contato {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
}
.contato h1 {
  font-size: 3em;
  margin: 0px 10px 30px 10px;
  text-align: center;
}
.sociais ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.sociais ul li {
  margin-left: 10px;
  margin-right: 10px;
}
.anim {
  transition: all 0.1s ease 0s;
}
.anim:hover {
  transform: translateY(-10px);
}
.sociais img {
  width: 50px;
}
.animado {
  max-width: 400px;
}
.footer {
  margin-top: 10px;
  display: flex;
  background: #000000;
  height: 80px;
  align-items: center;
  opacity: 0.7;
  z-index: 10;
}
.footer p {
  flex: 1;
  text-align: center;
  font-size: 1.25em;
  color: #ffffff;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .nav-bar li {
    display: none;
  }
  .nav-bar li.threeline-icon {
    display: inline-block;
  }
  .inf {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .inf div {
    display: block;
    height: auto;
  }
  .ft-perfil img {
    margin-top: 30px;
    width: 320px;
    border-radius: 350px;
    margin-left: 100px;
  }
  .ft-perfil {
    display: flex;
  }
  .inf-perfil {
    width: 100%;
    text-align: center;
  }
  .inf-perfil h1 {
    font-size: 58px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 60px;
    color: white;
  }
  .projetos-item a img {
    filter: grayscale(0);
  }
  .imagem-produto:hover {
    transform: none;
  }
  .projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projetos-item {
    width: 265px;
  }
  .projetos-item p {
    text-align: justify;
  }
  .menujs {
    height: 200px;
  }
  .menujs ul {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .menujs li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 787px) {
  .nav-bar li {
    display: none;
  }
  .nav-bar li.threeline-icon {
    display: inline-block;
  }
  .menujs {
    height: 200px;
  }
  .menujs ul {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .menujs li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .inf-perfil h1 {
    font-size: 45px;
    margin-top: 40px;
  }

  .inf-perfil span {
    font-size: 45px;
  }
  .sobre-info p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .projetos-item a img {
    filter: grayscale(0);
  }
  .imagem-produto:hover {
    transform: none;
  }
  .projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projetos-item {
    width: 265px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .projetos-item p {
    text-align: justify;
  }
  .habilidade-item {
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .habilidade-item h2 {
    justify-content: center;
  }
  .habilidade-item p {
    text-align: justify;
  }
}
@media only screen and (max-width: 500px) {
  .border-sub3 {
    width: auto;
  }
}
